<!DOCTYPE html>
<html>
<head>
    <title>Share It</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>
  <form method="POST" enctype="multipart/form-data">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">
            <img src="https://cdn.icon-icons.com/icons2/1880/PNG/512/iconfinder-share-4341323_120546.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Share It
          </a>
        </div>
      </nav>

    <div class="d-flex p-2">
      <div class="hstack gap-3">
        
        <div class="p-2">
          <input class="btn btn-outline-success" type="file" value="" name="file">
        </div>
        <div class="p-2">
          <input class="btn btn-outline-success" type="submit" value="Add">
        </div>
        <div class="vr"></div>
          <div class="p-2">
            <input class="btn btn-outline-danger" type="submit" value="Delete All" name="delete_all" onclick="return confirm('Are you sure ???')">
          </div>
        </form>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">File Name</th>
          <th scope="col">Format</th>
          <th scope="col">Size</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for name, format, size, date in files %}
        <tr>
          <td>{{ name }}</td>
          <td>{{ format }}</td>
          <td>{{ size }}</td>
          <td>{{ date }}</td>
          <td><a href="{{ url_for('download_file', filename=name+format) }}">Download</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>
</body>
</html>